<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <ul class="navbar-nav mr-auto">
    <li class="nav-item active">
      <a class="nav-item nav-link active" href="/index">Home</a>
    </li>
    <li class="nav-item active">
      <a class="nav-item nav-link" href="about">About</a>
    </li>
    <li class="nav-item active">
      <a class="nav-item nav-link" href="candidates">Candidates</a>
    </li>
    <li class="nav-item active">
      <a class="nav-item nav-link" href="interviews">Interviews</a>
    </li>
    <li class="nav-item active">
      <a class="nav-item nav-link" href="positions">Positions</a>
    </li>
    <li class="nav-item active">
      <a class="nav-item nav-link" href="crash">Crash</a>
    </li>
    <li class="nav-item active">
      <a class="nav-item nav-link" href="/api/initdb">Init BDD</a>
    </li>
    <li class="nav-item active">
      <a class="nav-item nav-link" href="/api/filldb5">Add data in BDD</a>
    </li>
  </ul>
</nav>